# Lab 12: Vectors, iteration, and functional programming

In [1]:
library(tidyverse)
library(nycflights13)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

## Q1:
1. How does `[[` differ from `[` when you are subsetting a list?
2. How do you extract the last value of an atomic vector?
3. How do you extract every value but the last value of an atomic vector?
4. Why is `x[-which(x > 0)]` not the same as `x[x <= 0]` where `x` is an atomic vector?

In [11]:
x <- c(-3,-2,-1)
x[length(x)]
x[-length(x)]

[1] -1

[1] -3 -2

In [8]:
# for 4, think of 

x[-which(x > 0)]
x[x <= 0]

numeric(0)

[1] -3 -2 -1

In [9]:
which(x > 0)
x <= 0

integer(0)

[1] TRUE TRUE TRUE

## Q2: use loop to do the following, store the result in a vector:
1. Compute the mean of every column in mtcars with na.rm argument being true
2. Determine the type of each column in nycflights13::flights.
3. Compute the number of unique values in each column of iris.

In [14]:
seq_along(mtcars)

 [1]  1  2  3  4  5  6  7  8  9 10 11

In [18]:
# task 1
mtcars_mean <- vector('double')
for (i in seq_along(mtcars)){
    mtcars_mean[i] <- mean(mtcars[[i]], na.rm = TRUE)
}
mtcars_mean

 [1]  20.090625   6.187500 230.721875 146.687500   3.596563   3.217250
 [7]  17.848750   0.437500   0.406250   3.687500   2.812500

In [13]:
# task 2
ftype <- vector('character')
for (i in seq_along(flights)){
    ftype[i] <- typeof(flights[[i]])
}
ftype

 [1] "integer"   "integer"   "integer"   "integer"   "integer"   "double"
 [7] "integer"   "integer"   "double"    "character" "integer"   "character"
[13] "character" "character" "double"    "double"    "double"    "double"
[19] "double"

In [17]:
# task 2
ftype <- vector('character')
for (i in seq_along(flights)){
    ftype[i] <- class(flights[[i]])
}
ftype

Warning message in ftype[i] <- class(flights[[i]]):
“number of items to replace is not a multiple of replacement length”

 [1] "integer"   "integer"   "integer"   "integer"   "integer"   "numeric"
 [7] "integer"   "integer"   "numeric"   "character" "integer"   "character"
[13] "character" "character" "numeric"   "numeric"   "numeric"   "numeric"
[19] "POSIXct"

In [9]:
# task 3
irisuniq <- vector('integer')
for (i in seq_along(iris)){
    irisuniq[i] <- length(unique(iris[[i]]))
}
irisuniq

[1] 35 23 43 22  3

## Q3: repeat Q1 with map functions rather than loops:

In [19]:
map_dbl(mtcars, mean, na.rm = T)
map_chr(flights, typeof)
map_int(iris, ~ length(unique(.)))

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

          year          month            day       dep_time sched_dep_time
     "integer"      "integer"      "integer"      "integer"      "integer"
     dep_delay       arr_time sched_arr_time      arr_delay        carrier
      "double"      "integer"      "integer"       "double"    "character"
        flight        tailnum         origin           dest       air_time
     "integer"    "character"    "character"    "character"       "double"
      distance           hour         minute      time_hour
      "double"       "double"       "double"       "double"

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
          35           23           43           22            3

## Q4: suppose Joe wants to climb n stairs, at each step, Joe can climb 1 stair or 2 stairs; write a function to find out many different ways are there for Joe to climb n stairs. Example: if n=3, then Joe has 3 ways: (1,1,1), (1,2), and (2,1).

In [21]:
nways <- function(n){
    if (n == 1) return(1)
    if (n == 2) return(2)
    return(nways(n-1) + nways(n-2))
}
nways(5)

[1] 8

## Q5: What's a more efficient way of doing Q3? Can you use memoization? (suppose n < 1000)

In [28]:
memo <- rep(NA, 1000)
nwaysmemo <- function(n){
    if (n == 1) return(1)
    if (n == 2) return(2)
    if (!is.na(memo[n])){
        return(memo[n])
    } else{
        memo[n] <<- nwaysmemo(n-1) + nwaysmemo(n-2)
        return(memo[n])
    }
}
nwaysmemo(5)
head(memo)

[1] 8

[1] NA NA  3  5  8 NA