# Lab4 AirBnB data

This week, we look at some airbnb listings. We look at covariance between columns, and practice table merging.

In [1]:
library(dplyr)
library(ggplot2)
load("lab4.Rdata")

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

lab4.RData contains two data frames: listing, demo. Let's take a look.
listing basically has all the info you would find on a rental page.

In [9]:
listing %>% glimpse()

Observations: 23,624
Variables: 29
$ accommodates                <dbl> 2, 2, 6, 1, 2, 2, 2, 2, 3, 1, 2, 4, 3, ...
$ amenities                   <chr> "{}", "{\"Wireless Internet\",\"Air con...
$ availability_30             <int> 29, 18, 3, 0, 6, 22, 10, 0, 3, 20, 17, ...
$ bathrooms                   <dbl> 1.0, 1.0, 1.0, 1.0, 1.0, NA, 1.5, 1.0, ...
$ bed_type                    <chr> "Real Bed", "Real Bed", "Real Bed", "Re...
$ bedrooms                    <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
$ beds                        <dbl> 1, 1, 3, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, ...
$ cancellation_policy         <chr> "flexible", "flexible", "flexible", "fl...
$ city                        <chr> "palmdale", "acton", "acton", "los ange...
$ has_availability            <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,...
$ host_id                     <int> 44800067, 84615808, 71743973, 41646908,...
$ id                          <int> 8909380, 14078522, 13006928, 7898757, 1...
$ instant_bookable            <chr> "f", "f", "t", "f", "f", "f", "f", "f",...
$ latitude                    <dbl> 34.48543, 34.51013, 34.51549, 34.03142,...
$ longitude                   <dbl> -118.1254, -118.2124, -118.2307, -118.2...
$ metropolitan                <chr> "LA", "LA", "LA", "LA", "LA", "LA", "LA...
$ name                        <chr> "Nice quiet private ranch house", "Room...
$ price                       <dbl> 50, 55, 150, 30, 45, 56, 80, 120, 55, 5...
$ property_type               <chr> "House", "House", "Other", "Apartment",...
$ review_scores_checkin       <dbl> 10, 10, 10, 10, 10, 9, 10, 10, 10, 9, 1...
$ review_scores_cleanliness   <dbl> 10, 10, 10, 9, 10, 8, 10, 10, 9, 9, 10,...
$ review_scores_communication <dbl> 10, 10, 10, 10, 10, 9, 10, 10, 10, 9, 1...
$ review_scores_location      <dbl> 9, 10, 10, 9, 10, 8, 9, 9, 9, 8, 9, 7, ...
$ review_scores_rating        <dbl> 93, 100, 100, 93, 98, 89, 99, 99, 92, 8...
$ review_scores_value         <dbl> 9, 10, 10, 10, 10, 9, 10, 10, 9, 9, 10,...
$ room_type                   <chr> "Private room", "Private room", "Entire...
$ state                       <chr> "CA", "CA", "CA", "CA", "CA", "CA", "CA...
$ weekly_price                <chr> "", "", "", "", "", "$320.00", "$500.00...
$ zipcode                     <chr> "93550", "93510", "93510", "90007", "90...

Some demographic info by zipcode are in demo

In [10]:
demo %>% head()

  zipcode population median_household_income mean_household_income
1 601     17982      10816                   20349
2 602     40260      16079                   23282
3 603     52408      16804                   26820
4 606      6331      12512                   15730
5 610     28328      17475                   23360
6 612     64816      17229                   25590

### Goal: 
Airbnb is meant for home sharing, but there are hosts with more than 20 listings. This is more like commercial hotels without regulation than home sharing. We would like to identify such users and see what their impact is on the airbnb ecosystem.

### Step 1:
host_id is a unique identifier for host. id is a unique identifier for listing. Construct a table where for each host_id, we have the number of unique ids, and the mean review_scores_value for that host_id. Call this table tb1. Name the 3 resulting columns host_id, nid, and mean_review.

### Step 2:

Look at a digital clock:
* if the minute is odd, Create a sequence of box plots, where the x axis is nid, and y axis is mean_review. Like the one in [lecture 7](https://github.com/terhorst/stats306/blob/master/lecture07/Lecture07.ipynb) right above the violin plot.
* if the minute is even, create a scatter plot of mean_review vs nid, add a smooth fitted line.
 
What do you see? If you have made both, what are the things that you can pick off from one plot but not the other?

### Step 3:
Let's define commercial hosts to be hosts with >= 5 listings. Create a column in listing indicating if this row has a commercial host. (hint: you need to merge tables for this, at least I needed)

### Step 4:
In listing, find for each zipcode, the total number of listings, the number of commercial listings (any listing by a commercial host is a commercial listing), and the mean price of all listings; retain only rows with more than 25 listings. Name this table tb3, name four columns zipcode, nlist, ncomlist, and mp.

### Step 5:
In tb3, add a column of boolean value indicating if this zipcode is "commercial heavy". We define commercial heavy as the number commercial listings exceeding 20% of the total amount of listings. Name the result tb4.

### Step 6:
merge in demo info into tb4. Name this table tb5

### Step 7:
Create a scatter plot of mean price vs median household income with tb5. Color points by if this zipcode is commercial heavy. What do you see? What do you learn from this plot?